* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0 10px;
}

.social li:first-of-type {
  padding: 0 20px;
}

.social li a {
  display: inline-block;
  /* can change the color of the icons to white
  filter: invert(1); */
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
